@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=VT323&display=swap');

/* Create A Base 10 Unit For Measurements */ 

html {
    font-size: 62.5%; 
}

/* Create Custom Default Settings For Document */ 

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    color: #ffffff; 
    background: #000000; 
    font-family: Orbitron, sans-serif; 
}

/* Heading Styling */ 
#logo, h2, h3 {
    font-family: VT323;
}

/* Background Image & Animation */
#background-image {
    background: url("../images/background-image-horizon.jpg");
    image-rendering: pixelated;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    animation: space_movement 50s linear infinite;
}

@keyframes space_movement {
    0%{background-position: 0 0;}
    100%{background-position: 100vw 0;}
}

/* Logo & Score Counter */ 

header {
    text-align: center; 
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    text-transform: uppercase;
    font-size: 15rem;
    text-shadow: #000000 3px 9px, #2392d2 3px 18px, #006aaf 3px 34px,  #004891 3px 46px, #022345 3px 62px;
}

#score-counter {
    margin: 3rem;
    font-size: 7rem;
    text-shadow: #000000 2px 4px, #2392d2 2px 8px, #006aaf 2px 12px,  #004891 2px 16px, #022345 2px 20px;
}

/* Mission Controls */ 

#mission-control {
    width: 90rem;
    height: 52rem; 
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 57px;
    justify-content: space-between;
    background: url("../images/mission-control.jpeg") center center no-repeat; 
    image-rendering: pixelated;
    background-size: cover;
    border-style: ridge;
    border-width: 5px;
    border-color: #000000; 
    box-shadow: #ff3e4f 0px 0px 0px 4px,  #022345  0px 0px 0px 8px, #c3262a  0px 0px 0px 12px,  #022345  0px 0px 0px 16px, #80121b 0px 0px 0px 20px,  #022345 0px 0px 0px 24px, #4f0f32 0px 0px 0px 28px,  #022345 0px 0px 0px 32px;
}

#mission-control h2 {
    font-size: 12rem;
    text-shadow: #000000 2px 2px, #ff3e4f 3px 4px, #c3262a 3px 8px, #80121b 3px 12px, #4f0f32 3px 18px, #000000 3px 24px;
}

#mission-control h3 {
    font-size: 6rem;
    background-color: #000000;
    width: 30rem;
    text-align: center;
    border-style: ridge;
    box-shadow: #4f0f32 0px 0px 0px 2px,  #2392d2 0px 0px 0px 4px, #80121b  0px 0px 0px 6px, #006aaf 0px 0px 0px 8px, #c3262a  0px 0px 0px 10px, #004891  0px 0px 0px 12px, #ff3e4f 0px 0px 0px 14px,  #022345  0px 0px 0px 16px;
    border-width: 5px;
    border-color: #000000;
    margin-bottom: 20px;
    text-shadow: #ff3e4f 2px 3px, #000000 2px 6px;
}

#mission-control h3:hover {
    background-color: #ff3e4f;
    cursor: pointer;
}

/* Terminal Control Modal */ 

.outer-modal {
    display: flex; 
    align-items: center;
    justify-content: center;
    position: fixed; 
    height: 100vh;
    width: 100vw;
    top: 0; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    /* opacity: 0;
    visibility: hidden; */
}

.inner-modal {
    width: 95rem;
    height: 60rem;
    background: radial-gradient(circle at center, #004891,  #022345, #000000 100%); 
    background: url("../images/terminal.jpg") center center;
    background-size: cover;
    font-size: 2rem;
    text-shadow: #000000 2px 2px; 
    border-radius: 50px;
}

.inner-modal h4 {
    font-size: 5rem;
    text-align: center;
    margin-top: 4rem;
}

.inner-modal p {
    line-height: 3.5rem;
    padding: 0 5rem;
    margin: 2rem;
}

#manoeuvers-modal p {
    padding: 10rem; 
}

#settings-modal-content {
    display: flex;
    justify-content: space-between;
    margin: 12rem;
}

.settings-options {
    display: inline-flex;
    flex-direction: column;
    font-size: 2.5rem;
    align-items: center;
}

.settings-options h5 {
    font-size: 3rem;
}

.settings-options label {
    margin: 3rem;
}

input {
    cursor: pointer;
}

.close-modal {
    font-size: 2.5rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
}

.close-modal:hover {
    color: #ff3e4f;
}

/* Player Sprite & Animation */ 

#astronaut-sprite {
    height: 40rem;
    width: 30rem; 
    background: url("../images/player-sprite.png");
    image-rendering: pixelated;
    background-size: cover;
    position: absolute;
    bottom: 1rem;
    left: -10rem;
    animation: zero_gravity 6s linear infinite; 
}

@keyframes zero_gravity {
    0%, 100% {
        bottom: 0; 
    }

    50% {
        bottom: 1.5rem; 
    }
}

/* Game Obstacles & Animation */ 

.space-obstacle {
    height: 27rem;
    width: 35rem; 
    transform: rotate(45deg);
    position: absolute; 
    bottom: 7rem;
    right: 0; 
    animation: obstacle 3s linear infinite; 
}

.meteorite {
    background: url("../images/meteorite.png") center center;
    background-size: cover;
}

.asteroid {
    background: url("../images/asteroid.png") center center;
    background-size: cover;
}

.fire-ball {
    background: url("../images/fireball.png") center center;
    background-size: cover;
} 


.alien-obstacle {
    height: 30rem;
    width: 30rem; 
    position: absolute; 
    bottom: 7rem;
    right: 0; 
    animation: obstacle 2.5s linear infinite; 
}


.ufo {
    background: url("../images/ufo.png");
    background-size: cover;
}

.martian {
    background: url("../images/martian.png");
    background-size: cover;
}

.planetary-obstacle {
    height: 35rem;
    width: 35rem; 
    position: absolute; 
    bottom: 7rem;
    right: 0; 
    animation: obstacle 2s linear infinite; 
}

 .planet1 {
    background: url("../images/planet1.png");
    background-size: cover;
}

.planet2 {
    background: url("../images/planet2.png");
    background-size: cover;
}

.planet3 {
    background: url("../images/planet3.png");
    background-size: cover;
} 

@keyframes obstacle {
    0%{left: 100vw}
    100%{left: -0}
}

/* Media Queries */ 

/* Screen Size: 1200px & Below */
@media screen and (max-width: 1200px) {
    #mission-control {
        width: 80rem; 
        height: 48rem; 
    }

    #mission-control h2 {
        font-size: 10rem;
    }

    #mission-control h3 {
        font-size: 5rem; 
        width: 20rem;
    }

    #astronaut-sprite {
        height: 35rem; 
    }

    .space-obstacle {
        height: 25rem; 
        width: 25rem;
    }

    .alien-obstacle {
        height: 27rem;
        width: 27rem;
    }

    .planetary-obstacle  {
        height: 32rem; 
        width: 32rem;
    }
}

/* Screen Size: 1024px & Below */
@media screen and (max-width: 1024px) {
    #mission-control {
        width: 70rem; 
        height: 42rem; 
    }

    #mission-control h2 {
        font-size: 9rem; 
    }

    #mission-control h3 {
        font-size: 4rem; 
        width: 17rem;
    }

    #astronaut-sprite {
        left: -9rem;
    }

    .alien-obstacle {
        height: 25rem;
        width: 25rem;
    }

    .planetary-obstacle  {
        height: 29rem; 
        width: 29rem;
    }

    .inner-modal {
        width: 85rem;
        height: 50rem;
    }

    .inner-modal h4 {
        font-size: 3.5rem;
    }

    .inner-modal p {
        font-size: 1.7rem;
        line-height: 3.4rem;
    }

    .close-modal {
        font-size: 1.5rem;
    }

}

/* Screen Size: 900px & Below */ 
@media screen and (max-width: 900px) {
    #mission-control {
        width: 65rem; 
        height: 38rem; 
    }

    #mission-control h2 {
        font-size: 8rem; 
    }

    #mission-control h3 {
        font-size: 3rem; 
        width: 15rem;
        text-shadow: #ff3e4f 1px 2px, #000000 1px 3px;
    }

    #astronaut-sprite {
        height: 33rem; 
        width: 30rem; 
    }

    .space-obstacle {
        height: 22rem; 
        width: 22rem;
    }

    .alien-obstacle {
        height: 23rem;
        width: 23rem;
    }

    .planetary-obstacle  {
        height: 26rem; 
        width: 26rem;
    }

    .inner-modal {
        width: 75rem;
        height: 40rem;
        overflow-y: scroll;
        
    }

    .inner-modal p {
        margin: 5.2rem;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ff3e4f; 
        border-radius: 20px;
    }
      

    .close-modal {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

}

/* Screen Size: 769px & Below */ 
@media screen and (max-width: 769px) {
    #mission-control {
        width: 55rem; 
        height: 36rem; 
        box-shadow: #ff3e4f 0px 0px 0px 3px,  #022345  0px 0px 0px 6px, #c3262a  0px 0px 0px 9px,  #022345  0px 0px 0px 12px, #80121b 0px 0px 0px 15px,  #022345 0px 0px 0px 18px, #4f0f32 0px 0px 0px 21px,  #022345 0px 0px 0px 24px;
    }

    #mission-control h2 {
        font-size: 7rem; 
    }

    #mission-control h3 {
        font-size: 2.5rem; 
        width: 13rem; 
    }

    #astronaut-sprite {
        height: 29rem; 
        width: 29rem; 
        left: -7.5rem; 
    }

    .space-obstacle {
        height: 19rem; 
        width: 19rem;
    }

    .alien-obstacle {
        height: 21rem;
        width: 21rem;
    }

    .planetary-obstacle  {
        height: 23rem; 
        width: 23rem;
    }

    .inner-modal {
        width: 65rem;
        height: 30rem;
    }

    .inner-modal h4 {
        margin-top: 2rem; 
        font-size: 3rem;
    }

    .inner-modal p {
        margin: 2rem;
        font-size: 1.5rem;
    }

    .close-modal {
        font-size: 1.5rem;
    }
}

/* Screen Size: 650px & Below */
@media screen and (max-width: 650px) {
    #logo { 
        font-size: 11.5rem;
        text-shadow: #000000 3px 6px, #2392d2 3px 12px, #006aaf 3px 24px,  #004891 3px 36px, #022345 3px 42px;
    }

    #score-counter {
        font-size: 5.5rem;
        text-shadow: #000000 2px 3px, #2392d2 2px 6px, #006aaf 2px 10px,  #004891 2px 14px, #022345 2px 18px;
    }

    #mission-control {
        width: 45rem; 
        height: 30rem; 
    }

    #mission-control h2 {
        font-size: 6rem; 
        margin-bottom: 20px;
    }

    #mission-control h3 {
        font-size: 2.5rem; 
        width: 13rem;
        box-shadow: #4f0f32 0px 0px 0px 1px,  #2392d2 0px 0px 0px 2px, #80121b  0px 0px 0px 3px, #006aaf 0px 0px 0px 4px, #c3262a  0px 0px 0px 5px, #004891  0px 0px 0px 6px, #ff3e4f 0px 0px 0px 7px,  #0b0f13  0px 0px 0px 8px;
        border-width: 2px;
    }

    #astronaut-sprite {
        height: 26rem; 
        width: 26rem; 
        left: -7rem;
        margin-bottom: 2rem;
    }

    .space-obstacle {
        height: 16rem; 
        width: 16rem;
    }

    .alien-obstacle {
        height: 19rem;
        width: 19rem;
    }

    .planetary-obstacle  {
        height: 20rem; 
        width: 20rem;
    }

    .inner-modal {
        width: 55rem;
        height: 20rem;
    }

    .inner-modal h4 {
        font-size: 3rem;
    }
}

/* Screen Size: 550px & Below */ 
@media screen and (max-width: 550px) {
    #mission-control {
        width: 40rem; 
        height: 30rem; 
        box-shadow: #ff3e4f 0px 0px 0px 2px,  #022345  0px 0px 0px 4px, #c3262a  0px 0px 0px 6px,  #022345  0px 0px 0px 8px, #80121b 0px 0px 0px 10px,  #022345 0px 0px 0px 12px, #4f0f32 0px 0px 0px 14px,  #022345 0px 0px 0px 16px;
        border-style: none;
    }

    #mission-control h2 {
        font-size: 5rem; 
        text-shadow: #000000 2px 1px, #ff3e4f 3px 2px, #c3262a 3px 4px, #80121b 3px 6px, #4f0f32 3px 8px, #000000 3px 10px;
    }

    #mission-control h3 {
        font-size: 2rem; 
        width: 10rem;
        text-shadow: #ff3e4f 1px 1px, #000000 1px 2px;
        border-style: none;
    }

    #astronaut-sprite {
        height: 23rem; 
        width: 23rem; 
        left: -6.5rem; 
        bottom: 2.5rem;
    }

    .space-obstacle {
        height: 13rem; 
        width: 13rem;
    }

    .alien-obstacle {
        height: 16rem;
        width: 16rem;
    }

    .planetary-obstacle  {
        height: 18rem; 
        width: 18rem;
    }
}

/* Screen Size: 481px & Below */ 
@media screen and (max-width: 481px) {
    #logo {
        font-size: 7.5rem;
        text-shadow: #000000 3px 2px, #2392d2 3px 4px, #006aaf 3px 8px,  #004891 3px 12px, #022345 3px 16px;
    }

    #score-counter {
        font-size: 3.5rem;
        text-shadow: #000000 2px 1px, #2392d2 2px 2px, #006aaf 2px 4px,  #004891 2px 6px, #022345 2px 8px;
    }

    #mission-control {
        width: 27rem; 
        height: 17rem; 
        box-shadow: #ff3e4f 0px 0px 0px 1px,  #022345  0px 0px 0px 2px, #c3262a  0px 0px 0px 3px,  #022345  0px 0px 0px 4px, #80121b 0px 0px 0px 5px,  #022345 0px 0px 0px 6px, #4f0f32 0px 0px 0px 7px,  #022345 0px 0px 0px 8px;
        margin-top: 80px;
    }

    #mission-control h2 {
        font-size: 3rem; 
        text-shadow: #000000 2px 1px, #ff3e4f 3px 2px, #c3262a 3px 3px, #80121b 3px 4px, #4f0f32 3px 5px, #000000 3px 6px;
    }

    #mission-control h3 {
        font-size: 1.5rem; 
        width: 5.5rem;
    }

    #astronaut-sprite {
        height: 20rem; 
        width: 20rem; 
        left: -5.5rem;
    }

    .space-obstacle {
        height: 11.5rem; 
        width: 11.5rem;
    }

    .alien-obstacle {
        height: 13rem;
        width: 13rem;
    }

    .planetary-obstacle  {
        height: 14rem; 
        width: 14rem;
    }
}

/* Screen Size: 320px & Below */ 
@media screen and (max-width: 320px) {
    #logo {
        font-size: 6.5rem;
        text-shadow: #000000 3px 3px, #2392d2 3px 6px, #006aaf 3px 10px,  #004891 3px 14px, #022345 3px 18px;
    }

    #mission-control {
        width: 25rem; 
        height: 15rem; 
    }

    #mission-control h2 {
        font-size: 2.5rem; 
    }

    #astronaut-sprite {
        height: 17rem; 
        width: 17rem; 
        left: -4.5rem;
        margin-bottom: 4rem;
    }
}